<style>
    [class^="icon-"],
    [class*=" icon-"] {
        /* use !important to prevent issues with browser extensions that change fonts */
        font-family: 'icomoon' !important;
        speak: never;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;

        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .icon-arrow-down:before {
        content: "\e900";
        color: #f2f2f2;
    }

    .icon-arrow-right:before {
        content: "\e901";
    }

    .icon-headset:before {
        content: "\e902";
    }

    .icon-Menu_book:before {
        content: "\e903";
    }

    .icon-movie:before {
        content: "\e904";
    }

    .icon-open:before {
        content: "\e905";
        color: #f2f2f2;
    }

    .icon-Search:before {
        content: "\e906";
        color: #f2f2f2;
    }

    .icon-Vector:before {
        content: "\e907";
        color: #f2f2f2;
    }

    /* Start Style */

    h2 {
        vertical-align: center;
        text-align: center;
    }

    p {
        font-weight: 700;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        text-transform: uppercase;
        color: #F2F2F2;
    }

    html,
    body {
        margin: 0;
        height: 100%;
    }

    * {
        font-family: "Roboto";
        box-sizing: border-box;
    }

    .top-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background: #333333;
        color: #FFF;
        height: 56px;
        padding: 1em;
    }

    .menu {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin: 0;
        padding: 0;
        height: inherit;
    }

    .menu>li {
        margin: 0 1rem;
        overflow: hidden;
    }

    .menu-button-container {
        display: none;
        height: 100%;
        width: 30px;
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle {
        display: none;
    }

    .menu-button,
    .menu-button::before,
    .menu-button::after {
        display: block;
        background-color: #fff;
        position: absolute;
        height: 4px;
        width: 30px;
        transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
        border-radius: 2px;
    }

    .menu-button::before {
        content: '';
        margin-top: -8px;
    }

    .menu-button::after {
        content: '';
        margin-top: 8px;
    }

    .icons {
        display: flex;
        align-items: center;
        font-size: 25px;
        font-weight: 900
    }

    .login {
        margin: 0;
        font-size: 25px;
    }

    .login::after {
        content: "\e905";
        font-family: "icomoon";
    }

    .vector {
        margin: 0 15px 0 20px;
        font-size: 25px;
    }

    .vector::after {
        content: "\e907";
        font-family: "icomoon";
    }

    .search {
        margin: 8px 0 0 0;
        line-height: 0;
    }

    .search::after {
        content: "\e906";
        font-family: "icomoon";
        font-size: 33px;
    }

    #menu-toggle:checked+.menu-button-container .menu-button::before {
        margin-top: 0px;
        transform: rotate(405deg);
    }

    #menu-toggle:checked+.menu-button-container .menu-button {
        background: rgba(255, 255, 255, 0);
    }

    #menu-toggle:checked+.menu-button-container .menu-button::after {
        margin-top: 0px;
        transform: rotate(-405deg);
    }

    @media (min-width: 820px) {
        .full-screen {
            max-width: 1440px;
            margin: 0 auto;
            background: #333333;
        }

        .top-nav {
            max-width: 1072px;
            margin: 0 auto;
        }

        .login {
            font-size: 12px;
        }

        .vector {
            font-size: 12px;
        }

        .search {
            margin: 5px 0 0 0;
        }

        .search::after {
            font-size: 20px;
        }

        .menu>li {
            margin: 0;
        }

        .menu>li:after {
            content: "\e900";
            font-family: "icomoon";
            padding-left: 5px;
            font-size: 8px;
        }

        .menu>li:hover {
            background: #000000;
            border-radius: 5px;
        }
        
        .dropdown {
            display: flex;
            align-items: center;
            margin-right: 15px;
            transition: all 0.3s ease-in-out;
        }

        .dropdown:hover .submenu {
            height: 440px;
        }

        .dropdown:hover .submenu>a {
            color: #3862a0;
        }

        .dropdown:hover .submenu>a::before {
            visibility: visible;
            transform: scale(1, 1);
        }

        .dropdown .submenu {
            display: flex;
            overflow: hidden;
            position: absolute;
            left: 0;
            right: 0;
            top: 65px;
            max-width: 1000px;
            margin: 0 auto;
            height: 0;
            padding: 0;
            line-height: 40px;
            box-sizing: border-box;
            transition: height 0.3s ease-in-out;
            transition-delay: 0.1s;
        }

        .dropdown .submenu>a {
            color: #fff;
            margin-top: 20px;
            font-size: 16px;
        }

        .dropdown .submenu>a:hover {
            color: #fff;
            text-decoration: underline;
        }

        .dropdown>a {
            color: #fff;
            display: block;
            text-decoration: none;
            position: relative;
        }

        .dropdown>a::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 3px;
            bottom: -10px;
            left: 0px;
            background-color: #3862a0;
            transition: all 0.2s ease-in-out;
            transform: scale(0, 0);
            visibility: hidden;
        }
        
        .dropdown .left-container {
            display: flex;
	    flex-direction: column;
	    position: relative;
            background-image: linear-gradient(to bottom, #fff, #fff, #fcf4db);
            transition: height 0.3s ease-in-out;
            transition-delay: 0.1s;
        }
        
        .dropdown .left-container>img { 
            position: absolute;
	    bottom: 24px;
	    right: 0;
	    left: 0;
	    margin: 0 auto;
        }
        
        .dropdown .left-container .movies {
            background: #F2C94C;
            border-radius: 5px 5px 0 0;
        }
        
        .dropdown .left-container .movies>a {
            color: #000;
        }
        
        .dropdown .left-container>li {
            background: #F2F2F2;
            height: 48px;
            width: 220px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            position: relative;
        }
        
        .dropdown .left-container>li>a {
            color: #828282;
            font-size: 12px;
            text-decoration: none;
            display: flex;
            align-items: center;
            padding-left: 16px;
        }
        
        .dropdown .left-container>li>a::before {
            padding-right: 28px;
        }
        
        .dropdown .left-container>li>a::after {
            content: "\e901";
            font-family: "icomoon";
            font-size: 6px;
            position: absolute;
            right: 16px;
        }
        
        .dropdown .left-container .movies a::before {
            content: "\e904";
            font-family: "icomoon";
        }
        
        .dropdown .left-container .music a::before {
            content: "\e902";
            font-family: "icomoon";
         }
         
         .dropdown .left-container .books a::before {
            content: "\e903";
            font-family: "icomoon";
         }
         
         .dropdown .right-container .left-image {
             vertical-align: text-top;
             width: 244px;
             height: 375px;
             margin: 25px 12px 0 12px;
         }
         
         .dropdown .right-container .right-image {
             width: 166px;
             height: 233px;
             position: absolute;
	     right: 0;
	     bottom: 26px;
	     z-index: 2;
         }
         
         .dropdown .right-container {
             display: flex;
             width: 100%;
         }
         
         
         .dropdown .lists {
             display: flex;
             flex-wrap: wrap;
         }
         
         .dropdown .background-image {
             position: relative;
         }
         
         .dropdown .background-image:after {
              background: url('../images/background-menu.png');
              content: '';
              width: 441px;
	      height: 440px;
	      opacity: 0.4;
	      background-size: cover;
	      position: absolute;
	      top: 0;
	      right: 0;
         }
         
         .dropdown .background-image .watch-movie {
             position: absolute;
	     right: 12px;
	     bottom: 36px;
	     background: #F2C94C;
	     border-radius: 5px;
	     border: unset;
             padding: 4px;
             display: flex;
             align-items: center;
             z-index: 3;
             cursor: pointer;
             box-shadow: 1px 1px 1px rgb(171 177 183)
         }
         
         .dropdown .background-image .watch-movie::after {
            content: "\e901";
            font-family: "icomoon";
            font-size: 4px;
	    background: #fff;
	    border-radius: 50%;
	    padding: 3px;
	    margin-left: 6px;
         }
         
         .dropdown .right-container .lists div {
            display:flex;
            align-items: flex-start;
            flex-direction: column;
         } 
         
         .dropdown .right-container .lists div:first-child {
            margin-right: 10px;
         }
         
         .dropdown .right-container .lists div:nth-child(2) {
            order: 2;
         }
         
         .dropdown .right-container .lists div:nth-child(3) {
         order: 1;
         }
         
         .dropdown .right-container .lists h2 {
            font-size: 16px;
            color: #000;
            font-weight: 600;
            border-bottom: 1px solid #E0E0E0;
            margin: 0;
         }
         
         .dropdown .right-container .lists ul {
             padding: 0;
             white-space: nowrap;
             cursor: pointer;
             z-index: 2;
         }
         
         .dropdown .right-container .lists li {
            font-size: 12px;
            color: #000;
            font-weight: 300;
            line-height: 14px;
         }
         
         .dropdown .right-container .lists li:hover {
            color: #F2C94C;
         }

        .menu>li {
            padding: 17px 12px;
        }

        .menu>li:after {
            padding-left: 12px;
        }

        li {
            list-style: none;
        }
    }

    @media (max-width: 820px) {
        .menu-button-container {
            display: flex;
        }

        .menu {
            position: absolute;
            top: 0;
            margin-top: 50px;
            left: 0;
            flex-direction: column;
            width: 100%;
            align-items: center;
        }

        #menu-toggle~.menu li {
            height: 0;
            margin: 0;
            padding: 0;
            border: 0;
            transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
        }

        #menu-toggle:checked~.menu li {
            border: 1px solid #333;
            height: 2.5em;
            padding: 30px;
            transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
            align-items: center;
        }

        .menu>li {
            display: flex;
            justify-content: center;
            margin: 0;
            padding: 0.5em 0;
            width: 100%;
            color: white;
            background-color: #222;
        }

        .menu>li:not(:last-child) {
            border-bottom: 1px solid #444;
        }
        
        .dropdown .submenu {
            display: none;
        }
    }

    @media (min-width: 1024px) {
        .menu>li {
            padding: 17px 12px;
            margin: 0 10px;
        }
        
        .dropdown .right-container .left-image {
            margin: 25px 32px 0 32px;
        }
        
        .dropdown .right-container .lists div:first-child {
            margin-right: 32px;
        }
        
        .dropdown .background-image {
           width: 100%;
        }
        
        .dropdown .lists {
            display: grid;
    	    grid-template-columns: repeat(2, 0fr);
        }
             
    }
</style>
